


.website
    {
    display:grid;
    grid-template-columns:1fr 9fr 1fr;
    grid-template-rows:70px 1fr 100px;
    min-height:100%;
}


body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: ARIAL;
    font-size: 1em;
    font-weight: 700;
    font-stretch: expanded;
}

html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

body::-webkit-scrollbar-track-piece
{
	background-color: #201c29;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #201c29;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 0.8vw;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10vw;
    background-color: rgb(122,153,217);
    background-color:#fff;
    box-shadow:
        0 0 40px 20px #fff,  /* inner white */
        0 0 70px 40px #f0f, /* middle magenta */
        0 0 100px 60px #0ff; /* outer cyan */
}
/*
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
*/

/*
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
*/


.hideme{
    visibility: hidden;
    opacity: 0;
}



.flexheader{
    display:flex;
    grid-column:1/4;
    grid-row: 1;
    background-image: linear-gradient(to bottom right, #140c20, #291518);
}

.lsidebar{
    background-image: linear-gradient(to bottom right, #433a4d, #232224);
    grid-column:1;
    grid-row: 2/4;
}


.main{
    grid-column:2;
    grid-row:2;

/*
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  
        0 0 100px 60px #f0f, 
        0 0 140px 90px #0ff; 
*/
    justify-self:end;
    align-self:end;

 }

.rsidebar{

    background-image: linear-gradient(to bottom left, #433a4d, #291518);
    grid-column:3;
    grid-row: 2/4;
}

.footer{
    /*
    background-image: linear-gradient(to bottom right, #232224, #291518);
    */
    background:#33465b;
    grid-column:2;
    grid-row: 3;
}

.belowheader{
    grid-row: 2/4;
    grid-column: 1/4;
}



.nav{
    display:flex;
    justify-content:center;
    align-items:center;
    border-left:#352e42 .8px solid;
    border-right:#352e42 .8px solid;
    
}

/*enlarges clickable area of the link to fill entire div*/
/* an alternative version of that is: <div onclick="location.href='#';" style="cursor: pointer;"></div>  */
a.fill-div {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-content:center;
    align-items:center;
    color: white;

}

.navlink:hover {
    background:#201c29;
    transform: scale(1.07);
}
    


img{
    height:45px;
    width: 45px;
}

input{
    color: white;
    outline:none;
}

.animate{
    
    position:absolute;
    left: 10px;
        

    background:#140c20;
    opacity:1;
}

.logo {
    flex:0;
    padding-left:10px;
    padding-right:25px;
    justify-content:left;
    align-items:left;
    width: max-content; 
    white-space: nowrap;
    font-size: 1.6em;
    color:lightblue;
}

.logo:hover .animate{
    opacity:0;
}



.title1 {
    flex:3;
}

.title2 {
    flex:3;
}

.title3 {
    flex:3;
}

.title4 {
    flex:3;
}

.title5 {
    flex:3;
}

.searchbar{
    flex:0 0 400px;
}

.searchcontainer{
    flex:1;
    display:flex;
    flex-direction: row;
    margin: 0 1rem 0rem;
    height:2.5rem;

    border: 1.5px solid #201c29;
    border-top-right-radius:27px;
    border-bottom-right-radius:27px;
    border-top-left-radius:27px;
    border-bottom-left-radius:27px;
}

.searchcontainer:focus-within{
    border:2px solid white;
}

.searchicon{
    flex:1.2;
    display:flex;
    justify-content: center;
    align-items: center;

    border:0;
    border-top-right-radius:27px;
    border-bottom-right-radius:27px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    background-image:linear-gradient(90deg,#ff0000,#7e465a);
    /*padding:0 22px 0 */
}




.search{
    flex:5;

    display:flex;
    justify-content: left;
    padding-left: 30px;
    align-items: center;

    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    border-left:solid 1.5px;
    border-top:solid 1.5px;
    border-bottom: solid 1.5px;
    border-color: #352e42;
    background-color: #262230;

}

.menu{
    flex:0 0 55px;
    
    border: #352e42 solid 1.5px;
    border-left:#352e42 solid .5px;
    border-right:#352e42 solid .5px;
    user-select: none;
}

.filler{
    display:flex;
    flex:5;
    border:none;
}

.lg-view{
    display:flex;
    flex:6;
}

.sm-view{
    display:none;
    flex:1;
}

.xs-view{
    display:none;
    flex:1;
}

@media only screen and (max-width: 1300px) and (min-width: 0px){

    .website{
        grid-template-rows:65px 1fr 100px;
    }

    .logo{
        font-size:1.2em;
    }

    img{
        height:35px;
        width:35px;
    }

    .searchbar{
        flex:0 0 60px;
        border-top-left-radius:2rem;
        border-bottom-left-radius:2rem;
        border-left:solid 1.5px;
        border-top:solid 1.5px;
        border-bottom:solid 1.5px;
        border-right:solid .5px;
        border-color:#352e42;
        user-select: none;
    }

    .searchbar:hover{
        background-color:#201c29;

    }

    
    .responsive-menu>a{
        color:yellow;
        opacity:0;
        visibility: hidden;
    }
    


    .title5{
        border-right:none;
    }
    .animate{
        position:absolute;
        left: 10px;
        background:#140c20;
        opacity:1;
    }

    .lg-view{
        display:none;
    }
    
    .sm-view{
        display:flex;
    }

    .xs-view{
        display:none;
    }

}


@media only screen and (max-width:800px) and (min-width:0px){

    .website{
        grid-template-rows:55px 1fr 100px;
    }

    .menu:hover{
        background:#201c29;
    }

    .animate{
        position:absolute;
        left: 10px;
        background:#140c20;
        opacity:1;
    }

    .logo{
        border: none;
    }
/*
    .searchbar{
        flex:0 0 60px;
    }
*/
    .xs-view{
        display: flex;
    }

    .sm-view{
        display: none;
    }


    .responsive-menu
    {
        overflow:auto;
        z-index:1;
        transition:.2s;
        position:absolute;
        left:0;
        background-image: linear-gradient(to bottom left, #291518, #140c20 );
        width:100%;
        height:calc(100vh - 60px);
        color:white;
    }

    .responsive-menu::-webkit-scrollbar{width:8px;height:8px}
    
    .responsive-menu::-webkit-scrollbar-thumb{background:#312d3c;border-radius:8px;box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)}
    
    .responsive-menu::-webkit-scrollbar-track{background:linear-gradient(90deg,#201c29,#201c29 1px,transparent 0,transparent)}

    hr{display:block}
    hr.menubreak{
        border: 1px silver ridge;
    }
    .responsive-menu.open{opacity:1;visibility:visible}

    .headerlinks{
        display:block;
        padding:0rem 0rem;
        height:auto;
        width:100%;
        color:#100e17;
        text-align:center;
    }

    .headerlinks>li>a{
        display: flex;
        border:0;
        font-size:1.2rem;
        
        padding-top:.5rem;
        padding-bottom: .5rem;
        text-align:center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        justify-content:center;
        align-items:center;
        color: white;
    }

    .headerlinks>li>a:before{display:none}

    .headerlinks>li>a:hover,.headerlinks>li>a:focus{background:#201c29;}

}
