


.website
    {
    display:grid;
    grid-template-columns:1fr 9fr 1fr;
    grid-template-rows:70px 1fr 100px;
    min-height:100%;
}


body {
    margin: 0vw 0 0 0vw;
    color: #FFF;
    font-family: ARIAL;
    font-size: 1.2em;
    font-weight: 700;
    font-stretch: expanded;
    /*font-size: 1.5vw;*/
}

html,body{
    width:100%;
    height:100%;
}

body::-webkit-scrollbar-track-piece
{
	background-color: #201c29;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #201c29;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 0.8vw;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10vw;
    background-color: rgb(122,153,217);
    background-color:#fff;
    box-shadow:
        0 0 40px 20px #fff,  /* inner white */
        0 0 70px 40px #f0f, /* middle magenta */
        0 0 100px 60px #0ff; /* outer cyan */
}
/*
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
*/

/*
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
*/






.flexheader{
    display:flex;
    grid-column:1/4;
    grid-row: 1;
    background-image: linear-gradient(to bottom right, #140c20, #291518);
}

/*#100e17*/
/*140c20*/
.lsidebar{
    background-image: linear-gradient(to bottom right, #433a4d, #232224);
    grid-column:1;
    grid-row: 2/4;
}


.main{
    grid-column:2;
    grid-row:2;


    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 90px #0ff; /* outer cyan */

    justify-self:end;
    align-self:end;

 }

.rsidebar{

    background-image: linear-gradient(to bottom left, #433a4d, #291518);
    grid-column:3;
    grid-row: 2/4;
}

.footer{
    /*
    background-image: linear-gradient(to bottom right, #232224, #291518);
    */
    background:#33465b;
    grid-column:2;
    grid-row: 3;
}


.nav{
    display:flex;
    justify-content:center;
    align-items:center;
    border-left:#352e42 .8px solid;
    border-right:#352e42 .8px solid;
    

/*
    border-bottom:#352e42 2px solid;
    */
}

/*enlarges clickable area of the link to fill entire div*/
/* an alternative version of that is: <div onclick="location.href='#';" style="cursor: pointer;"></div>  */
a.fill-div {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-content:center;
    align-items:center;
    color: white;

}

.navlink:hover {
    background:#201c29;
    transform: scale(1.07);
}
    

.box{
    display:flex;
    justify-content:center;
    align-items:center;
}


img{
    height:45px;
    width: 45px;
}


.animate{
    position:absolute;
    left: 23.2px;
    background:#140c20;
    opacity:1;
}

.logo {
    flex:0;
    justify-content:left;
    align-items:left;
    width: max-content; 
    white-space: nowrap;
    font-size: 1.4em;


}

.logo:hover .animate{
    opacity:0;
}



.title1 {
    flex:3;
}

.title2 {
    flex:3;
}

.title3 {
    flex:3;
}

.title4 {
    flex:3;
}

.title5 {
    flex:3;
}

.searchbar{
    flex:6;
}

.menu{
    flex:0;
    border: #352e42 solid 1.5px;
    border-left:#352e42 solid .5px;
    border-right:#352e42 solid .5px;

}

.filler{
    display:flex;
    flex:5;
    border:none;
}

.lg-view{
    display:flex;
    flex:6;
}

.sm-view{
    display:none;
    flex:1;
}

.xs-view{
    display:none;
    flex:1;
}

@media only screen and (max-width: 1300px) {

    .website{
        grid-template-rows:65px (1fr+100px) 100px;
    }

    .logo{
        font-size:1.0em;
    }

    img{
        height:35px;
        width:35px;
    }

    .searchbar{
        flex:1.5;
        border-top-left-radius:2rem;
        border-bottom-left-radius:2rem;
        border-left:solid 1.5px;
        border-top:solid 1.5px;
        border-bottom:solid 1.5px;
        border-right:solid .5px;
        border-color:#352e42;
    }

    .title5{
        border-right:none;
    }

    .animate{
        position:absolute;
        left: 16.8px;
        background:#140c20;
        opacity:1;
    }

    .lg-view{
        display:none;
    }
    
    .sm-view{
        display:flex;
    }

    .xs-view{
        display:none;
    }

}


@media only screen and (max-width:800px) {

    .website{
        grid-template-rows:55px 1fr 100px;
    }

    .logo{
        border: none;
    }

    .searchbar{
        flex:0;
    }

    .xs-view{
        display: flex;
    }

    .sm-view{
        display: none;
    }
}
